{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width">
  {%- if section.settings.title != blank -%}
    <div class="section-header">
      <h2 class="section-header__title">{{ section.settings.title }}</h2>
    </div>
  {%- endif -%}

  <div class="grid grid--uniform">
    {%- liquid
      assign isEmpty = true
      if section.blocks.size > 0
        assign isEmpty = false
      endif
    -%}

    {%- for block in section.blocks -%}
      {%- liquid
        assign background_position = block.settings.focal_point

        case section.settings.per_row
          when 2
            assign grid_item_width = 'medium-up--one-half'
          when 3
            assign grid_item_width = 'small--one-half medium-up--one-third'
          when 4
            assign grid_item_width = 'small--one-half medium-up--one-quarter'
          when 5
            assign grid_item_width = 'small--one-half medium-up--one-fifth'
        endcase
      -%}

      {%- render 'paul-icon-text-item',
        block: block,
        grid_item_width: grid_item_width,
        per_row: section.settings.per_row
      -%}
    {%- endfor -%}

    {%- if isEmpty -%}
      <div class="grid__item">
        <div class="rte">
          {{ 'home_page.onboarding.no_content' | t }}
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% comment %} 该 Block 有什么类型？ {% endcomment %}
{% comment %} https://shopify.dev/themes/architecture/settings/input-settings {% endcomment %}

{% schema %}
  {
    "name": "FAQ Icon & Text",
    "class": "paul-faq-icon-text-section",
    "max_blocks": 5,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Contact Us"
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      },
      {
        "type": "range",
        "id": "per_row",
        "label": "Collections per row",
        "default": 3,
        "min": 2,
        "max": 5,
        "step": 1
      }
    ],
    "presets": [{
      "name": "FAQ Icon & Text",
      "category": "Collection",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "id": "icon",
            "type": "textarea",
            "label": "Icon (SVG)",
            "info": "Needs SVG Format, paste the svg codes here."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
          },
          {
            "type": "richtext",
            "id": "desc",
            "label": "Description",
            "default": "<p>Description</p>"
          }
        ]
      }
    ]
  }
{% endschema %}
