{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="paul-faq-list-section">
  <div class="section-content">
    <div class="page-width">
      <div class="grid grid--uniform grid--flush-bottom">
        {%- liquid
          assign isEmpty = true
          if section.blocks.size > 0
            assign isEmpty = false
          endif
        -%}

        {%- if isEmpty -%}
          <div class="page-width">
            <div class="grid">
              <div class="grid__item">
                <div class="rte">
                  {{ 'home_page.onboarding.no_content' | t }}
                </div>
              </div>
            </div>
          </div>
        {%- else -%}
          {%- for block in section.blocks -%}
            <div class="grid__item medium-up--one-half">
              <div class="faq-list">
                {%- liquid
                  if block.settings.title != blank
                    assign title_output = block.settings.title | escape
                  elsif block.settings.blog != blank
                    assign title_output = block.settings.blog.title | escape
                  else
                    assign title_output = 'No Title'
                  endif
                -%}
                <header>
                  <h3>{{ title_output }}</h3>
                </header>
                <ul>
                  {%- if block.settings.blog != blank-%}
                    {%- for article in block.settings.blog.articles limit: 10 -%}
                      <li><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></li>
                    {%- endfor -%}
                  {%- else -%}
                    <li><a href="#">Our first priority is your health and safety. Read our response to COVID-19.</a></li>
                    <li><a href="#">What are the pellets made from?</a></li>
                    <li><a href="#">Will the wood pellets expire, or do they have a shelf life?</a></li>
                    <li><a href="#">How do I complete the initial startup and burn-in?</a></li>
                    <li><a href="#">What is the correct way to cook on the grill?</a></li>
                    <li><a href="#">How do I turn the grill off?</a></li>
                    <li><a href="#">Can I cook on the SMOKE setting?</a></li>
                    <li><a href="#">What temperature can the grill heat up to?</a></li>
                  {%- endif -%}
                </ul>
              </div>
            </div>
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% comment %} 该 Block 有什么类型？ {% endcomment %}
{% comment %} https://shopify.dev/themes/architecture/settings/input-settings {% endcomment %}

{% schema %}
  {
    "name": "FAQ Question List",
    "max_blocks": 10,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "presets": [{
      "name": "FAQ Question List",
      "category": "Text",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Replace Heading",
            "info": "Replace the default heading of the blog.",
            "default": "Pre-Sales Questions"
          },
          {
            "type": "blog",
            "id": "blog",
            "label": "Questions Blog"
          }
        ]
      }
    ]
  }
{% endschema %}
