/*
  Here is a modified File By Paul!
*/
:root{
  --paul-primary: #ff5d00;
}

.text-secondly{
  opacity: .6;
}

.paul-btn{
  padding: .5em .75em;
  display: inline-block;
  color: var(--paul-primary);
  border-radius: .5em;
  border: 2px solid var(--paul-primary);
}


/* Customed Collection */
.paul-collection-item{
  color: #ff5d00;
  color: var(--paul-primary);
  text-align: center;
}

.paul-collection-item .paul-collection-image-wrapper{
  margin: auto;
  max-width: 10em;
}

.paul-collection-item .paul-collection-image{
  height: 0;
  padding-bottom: 100%;
  background: center/cover;
  -webkit-box-reflect: below 0 linear-gradient(to top, rgba(255, 255, 255, .6) 0%, rgba(255, 255, 255, .0) 25%);
}

.paul-collection-item span{
  display: block;
  margin-top: 3em;
}

.paul-collection-item .paul-btn{
  margin-top: 2em;
  padding-left: 3em;
  padding-right: 3em;
}


/*  Customed Icon & Text */
.paul-icon-text-item{
  text-align: center;
}

.paul-icon-text-item svg{
  margin: auto;
  max-width: 4em;
}

.paul-icon-text-item p{
  opacity: .6;
  font-size: .875em;
}


/* Testimonials */
.paul-testimonial-section .section-header{
  padding: 45px 0;
  padding-bottom: 60px;
  position: relative;
  background-color: var(--paul-primary);
}

.paul-testimonial-section .section-header .page-width{
  max-width: 1000px;
}

.paul-testimonial-section .section-header p{
  margin-bottom: 2em;
}

.paul-testimonial-section .section-header__icon{
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.paul-testimonial-section .section-header__icon svg{
  width: 8em;
  height: 8em;
}


.paul-testimonial-section .section-content{
  padding: 45px 0;
}

.paul-testimonial-section .section-content .page-width{
  max-width: 1200px;
}

.paul-testimonial-section .paul-testimonial-wrap{
  padding: 0 3em;
  position: relative;
}

.paul-testimonial-section .paul-testimonial-wrap:before,
.paul-testimonial-section .paul-testimonial-wrap:after{
  top: 30%;
  opacity: .6;
  font-size: 4em;
  position: absolute;
  color: var(--paul-primary);
}

.paul-testimonial-section .paul-testimonial-wrap:before{
  left: 0;
  content: "“";
}

.paul-testimonial-section .paul-testimonial-wrap:after{
  right: 0;
  content: "”";
}


/* Reviews */
.paul-reviews-section{
  padding: 45px 0;
  background: #333;
}

.paul-reviews-section .section-header{
  color: #fff;
}

.paul-reviews-section .grid{
  display: flex;
  flex-wrap: wrap;
}

.paul-reviews-section .grid__item{
  margin-bottom: 2em;
}

.paul-reviews-section .paul-review-item{
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 1em;
  background: #fff;
  border-radius: .5em;
  position: relative;
}

.paul-reviews-section .paul-review-item:before,
.paul-reviews-section .paul-review-item:after{
  content: "";
  height: 2em;
  position: absolute;
  background: rgba(255, 255, 255, .3);
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

.paul-reviews-section .paul-review-item:before{
  left: .75em;
  right: .75em;
  bottom: -.75em;
}

.paul-reviews-section .paul-review-item:after{
  left: 1.75em;
  right: 1.75em;
  bottom: -1.5em;
}

.paul-review-item .item-stars{
  margin-bottom: 1em;
}

.paul-review-item .item-stars .icon{
  fill: #ffae01;
}

.paul-review-item .item-comment{
  flex: 1;
}

.paul-review-item .item-image img{
  width: 6.5em;
}


/* Partners */
.paul-partners-section{
  color: #fff;
  padding: 45px 0;
  background: #333;
}

.paul-partners-section .paul-partners-grid{
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 768px){
  .paul-partners-section .paul-partners-grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

.paul-partners-section .paul-partners-grid a,
.paul-partners-section .paul-partners-grid span{
  display: flex;
  align-items: center;
  justify-content: center;
}

.paul-partners-section .paul-partners-grid img{
  width: auto;
  height: auto;
  max-width: 85%;
  max-height: 4em;
}
